html{
	font-family: 'Noto Sans KR', sans-serif;
	-ms-user-select: none; 
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	
	/* Prevent font scaling in landscape */
	-webkit-text-size-adjust: none; /*Chrome, Safari, newer versions of Opera*/
	-moz-text-size-adjust: none; /*Firefox*/
	-ms-text-size-adjust: none; /*Ie*/
	-o-text-size-adjust: none; /*old versions of Opera*/
}
select{
	font-family: 'Noto Sans KR', sans-serif;
}
input{
	font-family: 'Noto Sans KR', sans-serif;
}

.tab{
	padding-left: 2em;
}

body{
	margin: 0;
	padding: 0;
	cursor: default;
	min-width: 475px;
}
.container{
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
}

.blank{
	width: 100%;
	height: 5px;
	background-color: white;
	position: fixed;
	top: 0;
	z-index: 1;
}
.search-box{
	position: sticky;
	position: -webkit-sticky;
	background: #F47C7C;
	overflow: hidden;
	padding: 20px;
	z-index: 1;
	top: 5px;
}
.search-box h1{
	color: white;
	margin: 0;
	font-size: 30px;
	margin-top: -10px;
	margin-bottom: 8px;
	display: inline-block;
}
.open-setting{
	display: inline-block;
	position: relative;
	width: 25px;
	height: 25px;
	background-color: #FAD4D4;
	color: #F47C7C;
	border-radius: 50%;
	margin-left: 2px;
	top: 3px;
	background: url(../imgs/common/setting.png);
	background-size: 25px;
}
.setting{
	display: none;
	border: 2px solid pink;
	width: 130px;
	position: fixed;
	display: inline;
	background: #FFF2F2;
	z-index: 1;
	padding: 5px;
	font-size: 12px;
}
.itemNumInput{
	border: none;
	background: #FFFFFF;
	width: 40%;
	border-radius: 4px;
	margin-bottom: 4px;
}
.chkbox-container{
	clear: both;
}
.chkbox{
	position: relative;
	height: 15px;
	width: 15px;
	top: 4px;
}




select{
	float: left;
	-webkit-appearance: none;
	appearance: none;
	font-size: 35px;
	height: 60px;
	padding: 8px;
	border: none;
	background: #FAD4D4;
	border-radius: 6px;
	line-height: 36px;
}
select:focus{
	outline: none;
}
#value{
	margin-left: 5px;
	float: left;
	border: none;
	background: #FAD4D4;
	font-size: 35px;
	width: 75%;
	height: 60px;
	padding: 8px;
	border-radius: 6px;
}
#value::placeholder{
	position: relative;
	font-size: 20px;
	top: -6px;
}
#value:focus{
	outline: none;
}
#value::-webkit-search-cancel-button{
    position:relative;
    -webkit-appearance: none;
    height: 50px;
    width: 50px;
	background: url(../imgs/common/clear.png);
	background-size: 50px;
}
#value::-ms-clear{
    position:relative;
    -webkit-appearance: none;
    height: 50px;
    width: 50px;
	background: url(../imgs/common/clear.png);
	background-size: 50px;
}


.info-box{
	position: fixed;
	display: none;
	opacity: 0.95;
	border: 2px solid pink;
	border-radius: 2px;
	font-size: 20px;
	background: #FFF2F2;
	padding: 10px;
	z-index: 2;
}




.zoom-btn{
	display: inline-block;
	float: right;
	width: 25px;
	height: 25px;
	background: #FAD4D4;
	color: #F47C7C;
	opacity: 0.2;
	font-size: 25px;
	text-align: center;
	line-height: 22px;
	border-radius: 50%;
	margin-left: 4px;
	font-weight: bold;
	top: -3px;
}
.zoom-btn:hover{
	opacity: 1;
}
.zoom-value{
	display: inline-block;
	float: right;
	width: 50px;
	height: 25px;
	background: #FAD4D4;
	color: #F47C7C;
	opacity: 0.2;
	font-size: 16px;
	text-align: center;
	line-height: 22px;
	border-radius: 30%;
	margin-left: 4px;
	font-weight: bold;
	top: -3px;
}
.zoom-value:hover{
	opacity: 1;
}




.open-item-btn{
	width: 75px;
	height: 50px;
	text-align: center;
	position: fixed;
	display: block;
	opacity: 0.4;
	border-radius: 5px;
	font-size: 50px;
	line-height: 50px;
	background: #ffdeea;
	padding: 5px;
	z-index: 2;
}
.open-item-btn:hover{
	opacity: 0.8;
}
.open-upper-item{
	right: 95px;
	bottom: 70px;
}
.open-lower-item{
	right: 5px;
	bottom: 70px;
}
.goto-search-btn{
	width: 165px;
	height: 50px;
	text-align: center;
	line-height: -20px;
	position: fixed;
	display: block;
	opacity: 0.4;
	border-radius: 5px;
	font-size: 40px;
	background: #ffdeea;
	padding: 5px;
	z-index: 2;
	right: 5px;
	bottom: 5px;
}
.goto-search-btn:hover{
	opacity: 0.8;
}

